In [40]:
# 01. Multiple Linear Regression #########################################

import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display, HTML

In [41]:
# load data #############################################################################
df=pd.read_csv('income_evaluation.csv')
# get header
cols=df.columns
print("Columns: ", cols)
# get dimensions
print("Dimensions:", df.shape)

Columns:  Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' income'],
      dtype='object')
Dimensions: (32561, 15)

In [42]:
# print header and dataType, as well as boolean value which tells missing values
print('\nColumnName, DataType, MissingValues')
for i in cols:
    print(i, ',', df[i].dtype,',',df[i].isnull().any())

ColumnName, DataType, MissingValues
age , int64 , False
 workclass , object , False
 fnlwgt , int64 , False
 education , object , False
 education-num , int64 , False
 marital-status , object , False
 occupation , object , False
 relationship , object , False
 race , object , False
 sex , object , False
 capital-gain , int64 , False
 capital-loss , int64 , False
 hours-per-week , int64 , False
 native-country , object , False
 income , object , False

In [43]:
display(HTML(df.head(20).to_html()))

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlwgt          32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [44]:
df=df.replace([' ?'], 'unknown')
display(HTML(df.head(20).to_html()))

In [45]:
# print out and display dataframe as tables in HTML
#df=df.drop('age',1)
display(HTML(df.head(10).to_html()))

In [46]:
df.columns = df.columns.str.replace(" ", "")
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [47]:
#Changing it dummy variable and dropping them

df_dummies = pd.get_dummies(df[['workclass','education','marital-status','occupation','relationship','race','sex','native-country','income']])
df_dummies
df_dummies.dtypes

dfk = df.join(df_dummies)
dfk = dfk.drop(['workclass','education','marital-status','occupation','relationship','race','sex','native-country','income'], axis=1)
dfk = dfk.drop(['workclass_ Federal-gov','education_ 10th','marital-status_ Divorced','occupation_ Adm-clerical','relationship_ Husband','race_ Amer-Indian-Eskimo','sex_ Female','native-country_ Cambodia'],1)

display(HTML(dfk.head(5).to_html()))

In [48]:
# calculate correlations
correlations = df.corr(method='pearson')
print("\nData correlations")
display(HTML(correlations.to_html()))

Data correlations

In [49]:
# build linear regression models by using hold-out evaluations ###################################
# there are different ways: https://www.freecodecamp.org/news/data-science-with-python-8-ways-to-do-linear-regression-and-measure-their-speed-b5577d75f8b/
# unlike R, Python libraries do not provide feature selection for regression models
# but you can still find some self-implemented forward/backward selection codes online, if you need it

from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import sklearn.metrics as metrics
from sklearn.model_selection import train_test_split

In [50]:
# using hold-out evaluation for example
x_train, x_test, y_train, y_test = train_test_split(dfk, dfk['age'], test_size=0.3)

print('train set:\n',x_train.shape, "\n", y_train.shape)
print('test set:\n',x_test.shape, "\n", y_test.shape)

train set:
 (22792, 102)
 (22792,)
test set:
 (9769, 102)
 (9769,)

In [51]:
# method 1: using the LinearRegression model
# API: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html
# drawback: you can get limited information about the model
m1=LinearRegression()
m1.fit(x_train, y_train)
print("\nBuild mdoels by LienarRegression()")
print("Intercept: ", m1.intercept_,"\nCoefficients:\n", m1.coef_,"\nR-square: ", m1.score(x_train, y_train))

Build mdoels by LienarRegression()
Intercept:  1.8474111129762605e-13
Coefficients:
 [ 1.00000000e+00 -6.40269456e-19  1.80988537e-16 -2.61646918e-17
 -1.01920414e-15  2.31893030e-16  2.20249135e-15  5.05591678e-14
  6.02107963e-16 -1.73746649e-15 -1.91250777e-15  4.38711705e-15
 -1.26467156e-15 -2.62164583e-14 -2.09708252e-15  2.11582145e-15
 -1.70640402e-14 -6.99622488e-16 -4.12529702e-15  3.53786770e-15
  4.69365165e-16  1.08125531e-15 -1.41095224e-15 -5.83925611e-15
 -1.34388179e-15 -1.85987689e-15 -2.40111875e-14 -1.24952801e-14
 -1.41558061e-15 -2.73129027e-14 -6.05550360e-15 -5.67630620e-15
 -4.26581590e-16  1.85206540e-15  4.45571948e-16  3.10015930e-14
 -1.96212746e-15 -2.37150303e-15  8.17690432e-15 -2.08250100e-15
 -1.59698734e-15 -1.80767504e-15  7.58539077e-15 -1.43980029e-15
 -1.04327004e-14 -1.75233835e-15 -1.07462530e-14 -2.52502931e-15
  2.43427094e-14 -5.41878428e-15 -6.38385368e-15 -5.77755837e-15
 -5.76387404e-15  6.41042973e-16  4.57997138e-15  4.44763881e-15
 -3.20242293e-15  4.35062699e-15  7.53963140e-16  5.87823465e-15
  9.10833899e-15 -1.83008982e-15 -1.47943202e-15  1.14167424e-14
  4.98329491e-15  1.05096816e-14  4.86245932e-15  7.01587022e-15
 -1.41667144e-14  6.45135710e-15 -1.48461982e-14  3.43519697e-17
  3.94430453e-31  1.01209120e-14 -1.95375178e-15 -3.87341309e-15
  1.25048508e-14  2.52976919e-15  4.14370424e-15  5.31977432e-15
  8.34428906e-15  2.28271553e-15  2.80500863e-15  2.29775289e-15
  7.75696064e-15 -3.44842279e-15  1.99868118e-15 -7.80443124e-15
  8.46524592e-15  6.50181198e-15  5.72354547e-15 -3.70456663e-15
  3.54037135e-15  5.62367702e-15  3.18365870e-15  4.53326718e-15
  7.05653532e-16 -3.37646967e-16  4.33363145e-15  3.41634785e-15
 -4.05782232e-16  4.05782232e-16]
R-square:  1.0

In [52]:
# method 2: using OLS in statsmodels
# API: https://www.statsmodels.org/stable/generated/statsmodels.regression.linear_model.OLS.html
print("\nBuild mdoels by OLS()")
m2 = sm.OLS(y_train, x_train)
rst=m2.fit()
print("R-square: ", rst.rsquared, "\n\nCoefficients:\n", rst.params, "\n\np-values: \n", rst.pvalues)
print(rst.summary())

Build mdoels by OLS()
R-square:  1.0

Coefficients:
 age                           1.000000e+00
fnlwgt                       -1.586493e-18
education-num                -1.558215e-15
capital-gain                 -4.696120e-17
capital-loss                  7.925518e-17
                                  ...
native-country_ Vietnam       2.220446e-16
native-country_ Yugoslavia    1.909584e-14
native-country_unknown        6.675216e-15
income_ <=50K                -1.315614e-13
income_ >50K                 -1.282308e-13
Length: 102, dtype: float64

p-values:
 age                           0.000000e+00
fnlwgt                        0.000000e+00
education-num                 6.875625e-01
capital-gain                  0.000000e+00
capital-loss                  9.109333e-21
                                  ...
native-country_ Vietnam       9.987822e-01
native-country_ Yugoslavia    9.261432e-01
native-country_unknown        9.594329e-01
income_ <=50K                 3.008795e-01
income_ >50K                  3.149928e-01
Length: 102, dtype: float64
                            OLS Regression Results
==============================================================================
Dep. Variable:                    age   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.698e+29
Date:                Wed, 31 Mar 2021   Prob (F-statistic):               0.00
Time:                        21:08:46   Log-Likelihood:             6.1302e+05
No. Observations:               22792   AIC:                        -1.226e+06
Df Residuals:                   22693   BIC:                        -1.225e+06
Df Model:                          98
Covariance Type:            nonrobust
==============================================================================================================
                                                 coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------
age                                            1.0000   3.25e-16   3.08e+15      0.000       1.000       1.000
fnlwgt                                     -1.586e-18   3.27e-20    -48.482      0.000   -1.65e-18   -1.52e-18
education-num                              -1.558e-15   3.87e-15     -0.402      0.688   -9.15e-15    6.04e-15
capital-gain                               -4.696e-17   4.74e-19    -99.092      0.000   -4.79e-17    -4.6e-17
capital-loss                                7.926e-17   8.47e-18      9.355      0.000    6.26e-17    9.59e-17
hours-per-week                              -1.37e-16   3.03e-16     -0.452      0.651   -7.31e-16    4.57e-16
workclass_ Local-gov                       -6.273e-15   2.42e-14     -0.259      0.795   -5.37e-14    4.11e-14
workclass_ Never-worked                     1.416e-15   1.69e-13      0.008      0.993    -3.3e-13    3.33e-13
workclass_ Private                         -3.023e-14   2.04e-14     -1.484      0.138   -7.01e-14    9.69e-15
workclass_ Self-emp-inc                    -2.495e-14   2.75e-14     -0.908      0.364   -7.88e-14    2.89e-14
workclass_ Self-emp-not-inc                -1.289e-14   2.37e-14     -0.544      0.586   -5.93e-14    3.35e-14
workclass_ State-gov                       -3.206e-14   2.58e-14     -1.241      0.215   -8.27e-14    1.86e-14
workclass_ Without-pay                     -3.708e-14   1.48e-13     -0.251      0.802   -3.27e-13    2.52e-13
workclass_unknown                          -3.347e-14   8.52e-14     -0.393      0.694      -2e-13    1.33e-13
education_ 11th                             2.925e-14   2.63e-14      1.113      0.266   -2.23e-14    8.08e-14
education_ 12th                             2.442e-14   3.47e-14      0.705      0.481   -4.35e-14    9.24e-14
education_ 1st-4th                          6.345e-14   5.39e-14      1.177      0.239   -4.22e-14    1.69e-13
education_ 5th-6th                          -3.66e-14   4.37e-14     -0.837      0.402   -1.22e-13    4.91e-14
education_ 7th-8th                          3.419e-14   3.37e-14      1.014      0.311   -3.19e-14       1e-13
education_ 9th                              3.053e-15   3.41e-14      0.089      0.929   -6.38e-14       7e-14
education_ Assoc-acdm                       4.174e-14   3.11e-14      1.340      0.180   -1.93e-14    1.03e-13
education_ Assoc-voc                        2.576e-14   2.81e-14      0.916      0.360   -2.94e-14    8.09e-14
education_ Bachelors                        1.068e-14   2.94e-14      0.363      0.717    -4.7e-14    6.83e-14
education_ Doctorate                        3.281e-14   4.47e-14      0.734      0.463   -5.48e-14     1.2e-13
education_ HS-grad                         -5.017e-15    2.1e-14     -0.239      0.811   -4.62e-14    3.62e-14
education_ Masters                          3.252e-14   3.38e-14      0.962      0.336   -3.37e-14    9.88e-14
education_ Preschool                        -7.91e-14   8.89e-14     -0.890      0.374   -2.53e-13    9.52e-14
education_ Prof-school                      3.808e-14   4.07e-14      0.935      0.350   -4.17e-14    1.18e-13
education_ Some-college                    -7.841e-16   2.27e-14     -0.034      0.972   -4.54e-14    4.38e-14
marital-status_ Married-AF-spouse           5.954e-14   1.29e-13      0.463      0.644   -1.93e-13    3.12e-13
marital-status_ Married-civ-spouse          1.134e-13   4.22e-14      2.691      0.007    3.08e-14    1.96e-13
marital-status_ Married-spouse-absent       1.614e-14   3.11e-14      0.519      0.604   -4.48e-14    7.71e-14
marital-status_ Never-married               2.089e-14   1.26e-14      1.654      0.098   -3.86e-15    4.56e-14
marital-status_ Separated                   6.317e-14   2.12e-14      2.980      0.003    2.16e-14    1.05e-13
marital-status_ Widowed                    -1.982e-14   2.21e-14     -0.897      0.370   -6.31e-14    2.35e-14
occupation_ Armed-Forces                    1.765e-14   1.93e-13      0.092      0.927    -3.6e-13    3.95e-13
occupation_ Craft-repair                    2.984e-14   1.48e-14      2.012      0.044    7.74e-16    5.89e-14
occupation_ Exec-managerial                 7.563e-15   1.46e-14      0.520      0.603    -2.1e-14    3.61e-14
occupation_ Farming-fishing                -2.634e-14   2.32e-14     -1.135      0.256   -7.18e-14    1.92e-14
occupation_ Handlers-cleaners                 7.3e-15      2e-14      0.365      0.715   -3.19e-14    4.65e-14
occupation_ Machine-op-inspct              -1.052e-14   1.75e-14     -0.600      0.549   -4.49e-14    2.39e-14
occupation_ Other-service                  -2.459e-14   1.49e-14     -1.653      0.098   -5.38e-14    4.58e-15
occupation_ Priv-house-serv                -1.066e-14   5.04e-14     -0.211      0.833   -1.09e-13    8.82e-14
occupation_ Prof-specialty                 -2.759e-14   1.53e-14     -1.809      0.071   -5.75e-14    2.31e-15
occupation_ Protective-serv                -2.209e-14   2.73e-14     -0.808      0.419   -7.57e-14    3.15e-14
occupation_ Sales                          -3.886e-16   1.46e-14     -0.027      0.979    -2.9e-14    2.82e-14
occupation_ Tech-support                     5.94e-15   2.25e-14      0.264      0.792   -3.81e-14       5e-14
occupation_ Transport-moving                2.406e-14   1.91e-14      1.262      0.207   -1.33e-14    6.14e-14
occupation_unknown                         -3.292e-14   8.58e-14     -0.384      0.701   -2.01e-13    1.35e-13
relationship_ Not-in-family                 1.024e-13    4.2e-14      2.438      0.015    2.01e-14    1.85e-13
relationship_ Other-relative                7.072e-14   4.14e-14      1.710      0.087   -1.04e-14    1.52e-13
relationship_ Own-child                     1.056e-13   4.19e-14      2.522      0.012    2.35e-14    1.88e-13
relationship_ Unmarried                     1.234e-13   4.35e-14      2.839      0.005    3.82e-14    2.09e-13
relationship_ Wife                         -1.438e-14   1.89e-14     -0.762      0.446   -5.13e-14    2.26e-14
race_ Asian-Pac-Islander                    3.941e-14   4.48e-14      0.881      0.379   -4.83e-14    1.27e-13
race_ Black                                 5.118e-14   3.59e-14      1.424      0.154   -1.93e-14    1.22e-13
race_ Other                                 1.176e-13   5.25e-14      2.239      0.025    1.46e-14    2.21e-13
race_ White                                 4.863e-14   3.43e-14      1.419      0.156   -1.85e-14    1.16e-13
sex_ Male                                  -8.306e-15   1.01e-14     -0.822      0.411   -2.81e-14    1.15e-14
native-country_ Canada                     -1.299e-14   1.42e-13     -0.092      0.927   -2.91e-13    2.65e-13
native-country_ China                      -1.564e-14   1.44e-13     -0.108      0.914   -2.98e-13    2.67e-13
native-country_ Columbia                    -9.27e-15   1.55e-13     -0.060      0.952   -3.13e-13    2.94e-13
native-country_ Cuba                        -1.11e-16   1.44e-13     -0.001      0.999   -2.83e-13    2.82e-13
native-country_ Dominican-Republic         -3.533e-14    1.5e-13     -0.235      0.814    -3.3e-13     2.6e-13
native-country_ Ecuador                    -2.709e-14   1.77e-13     -0.153      0.878   -3.74e-13    3.19e-13
native-country_ El-Salvador                -1.976e-14   1.43e-13     -0.138      0.890      -3e-13     2.6e-13
native-country_ England                    -6.661e-16   1.43e-13     -0.005      0.996   -2.81e-13     2.8e-13
native-country_ France                     -3.331e-15   1.66e-13     -0.020      0.984   -3.29e-13    3.22e-13
native-country_ Germany                    -3.197e-14   1.39e-13     -0.230      0.818   -3.04e-13     2.4e-13
native-country_ Greece                     -4.396e-14   1.78e-13     -0.246      0.805   -3.94e-13    3.06e-13
native-country_ Guatemala                   2.853e-14   1.49e-13      0.192      0.848   -2.63e-13     3.2e-13
native-country_ Haiti                      -3.997e-15   1.65e-13     -0.024      0.981   -3.27e-13    3.19e-13
native-country_ Holand-Netherlands         -6.997e-20   1.73e-28  -4.05e+08      0.000      -7e-20      -7e-20
native-country_ Honduras                    2.343e-14   2.13e-13      0.110      0.912   -3.94e-13    4.41e-13
native-country_ Hong                         8.74e-15   1.76e-13      0.050      0.960   -3.37e-13    3.54e-13
native-country_ Hungary                    -2.404e-14   2.13e-13     -0.113      0.910   -4.41e-13    3.93e-13
native-country_ India                      -2.659e-14   1.41e-13     -0.189      0.850   -3.02e-13    2.49e-13
native-country_ Iran                       -1.185e-14   1.59e-13     -0.074      0.941   -3.24e-13    3.01e-13
native-country_ Ireland                    -3.908e-14   1.79e-13     -0.219      0.827   -3.89e-13    3.11e-13
native-country_ Italy                      -5.218e-15   1.46e-13     -0.036      0.972   -2.92e-13    2.82e-13
native-country_ Jamaica                    -9.215e-15   1.46e-13     -0.063      0.950   -2.96e-13    2.78e-13
native-country_ Japan                       6.883e-15   1.47e-13      0.047      0.963   -2.82e-13    2.96e-13
native-country_ Laos                       -7.994e-15   1.93e-13     -0.041      0.967   -3.87e-13    3.71e-13
native-country_ Mexico                      2.714e-14   1.32e-13      0.206      0.837   -2.32e-13    2.86e-13
native-country_ Nicaragua                   1.682e-14    1.7e-13      0.099      0.921   -3.17e-13    3.51e-13
native-country_ Outlying-US(Guam-USVI-etc) -1.521e-14   2.13e-13     -0.071      0.943   -4.32e-13    4.02e-13
native-country_ Peru                       -3.733e-14   1.72e-13     -0.217      0.828   -3.75e-13       3e-13
native-country_ Philippines                -3.128e-14   1.34e-13     -0.234      0.815   -2.93e-13     2.3e-13
native-country_ Poland                     -2.509e-14   1.51e-13     -0.166      0.868   -3.22e-13    2.71e-13
native-country_ Portugal                    1.105e-14   1.67e-13      0.066      0.947   -3.16e-13    3.39e-13
native-country_ Puerto-Rico                 4.052e-15   1.42e-13      0.029      0.977   -2.74e-13    2.82e-13
native-country_ Scotland                   -2.398e-14   2.13e-13     -0.113      0.910   -4.41e-13    3.93e-13
native-country_ South                      -1.554e-15   1.43e-13     -0.011      0.991   -2.82e-13    2.79e-13
native-country_ Taiwan                      1.767e-14   1.55e-13      0.114      0.909   -2.85e-13    3.21e-13
native-country_ Thailand                   -8.216e-15   1.85e-13     -0.044      0.965   -3.72e-13    3.55e-13
native-country_ Trinadad&Tobago            -3.314e-14   1.78e-13     -0.186      0.853   -3.83e-13    3.16e-13
native-country_ United-States               3.128e-14    1.3e-13      0.241      0.809   -2.23e-13    2.86e-13
native-country_ Vietnam                      2.22e-16   1.45e-13      0.002      0.999   -2.85e-13    2.85e-13
native-country_ Yugoslavia                   1.91e-14   2.06e-13      0.093      0.926   -3.85e-13    4.23e-13
native-country_unknown                      6.675e-15   1.31e-13      0.051      0.959   -2.51e-13    2.64e-13
income_ <=50K                              -1.316e-13   1.27e-13     -1.035      0.301   -3.81e-13    1.18e-13
income_ >50K                               -1.282e-13   1.28e-13     -1.005      0.315   -3.78e-13    1.22e-13
==============================================================================
Omnibus:                    32620.062   Durbin-Watson:                   1.164
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          9692182.400
Skew:                           8.681   Prob(JB):                         0.00
Kurtosis:                     102.521   Cond. No.                     1.44e+21
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.22e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [53]:
# evaluate models by MAE or RMSE
y_predict=rst.predict(x_test)
MAE=metrics.mean_absolute_error(y_test, y_predict)
RMSE=np.sqrt(metrics.mean_squared_error(y_test, y_predict))
print("\nEvaluations on the test set: \nMAE: ", MAE,", RMSE: ", RMSE)

Evaluations on the test set:
MAE:  3.25226225768495e-13 , RMSE:  5.079334564831622e-13

In [58]:
# build linear regression models by using N-fold cross evaluations ###################################

from sklearn.model_selection import cross_val_score
from sklearn.base import BaseEstimator, RegressorMixin

m=LinearRegression()
rst=cross_val_score(m, x_train, y_train, cv=5, scoring='neg_mean_squared_error')
mse = np.abs(rst.mean())
print("\n5-fold Evaluations for LinearRegression(): \n RMSE: ", np.sqrt(mse))


class SMWrapper(BaseEstimator, RegressorMixin):
    """ A universal sklearn-style wrapper for statsmodels regressors """
    def __init__(self, model_class, fit_intercept=True):
        self.model_class = model_class
        self.fit_intercept = fit_intercept
    def fit(self, X, y):
        if self.fit_intercept:
            X = sm.add_constant(X)
        self.model_ = self.model_class(y, X)
        self.results_ = self.model_.fit()
    def predict(self, X):
        if self.fit_intercept:
            X = sm.add_constant(X)
        return self.results_.predict(X)
    

data_x = sm.add_constant(dfk.drop('age',1))
data_y = dfk['age']
RMSE = np.sqrt(-cross_val_score(SMWrapper(sm.OLS), data_x, data_y, scoring="neg_mean_squared_error", cv = 10))
print("RMSE in 10 folds: ", RMSE)
print("RMSE = ", np.mean(RMSE))

5-fold Evaluations for LinearRegression():
 RMSE:  1.0517413163225259e-12
RMSE in 10 folds:  [10.25273154 10.52190971 10.37333369 10.59669308 10.37993675 10.57028124
 10.17432081 10.20055088 10.1847019  10.10513625]
RMSE =  10.335959585554086

In [70]:
# 02. Regression with Regularizations #############################
from sklearn.linear_model import Lasso
from sklearn.linear_model import LassoCV
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import ElasticNetCV
from sklearn.metrics import mean_squared_error


# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html#sklearn.linear_model.Lasso
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LassoCV.html#sklearn.linear_model.LassoCV
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html#sklearn.linear_model.Ridge
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html#sklearn.linear_model.RidgeCV
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNet.html#sklearn.linear_model.ElasticNet
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNetCV.html#sklearn.linear_model.ElasticNetCV

m1=Lasso(alpha=0.1)
m1.fit(x_train, y_train)
print("\nBuild mdoels by Lasso()")
print("Intercept: ", m1.intercept_,"\nCoefficients:\n", m1.coef_,"\nR-square: ", m1.score(x_train, y_train))

Build mdoels by Lasso()
Intercept:  0.021800173300917436
Coefficients:
 [ 9.99457064e-01 -5.25685500e-09  0.00000000e+00  8.03712515e-08
  5.02088668e-07  0.00000000e+00  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00  0.00000000e+00]
R-square:  0.9999997095870851

In [71]:
# evaluate models by MAE or RMSE
y_predict=m1.predict(x_test)
MAE=metrics.mean_absolute_error(y_test, y_predict)
RMSE=np.sqrt(metrics.mean_squared_error(y_test, y_predict))
print("\nEvaluations on the test set: \nMAE: ", MAE,", RMSE: ", RMSE)
# N-fold cross validation
x = dfk.drop('age',1)
y = dfk['age'] 
m1=LassoCV(cv=5, random_state=0).fit(x, y)
print("\nBuild mdoels by LassoCV()")
print("Intercept: ", m1.intercept_,"\nCoefficients:\n", m1.coef_,"\nR-square: ", m1.score(x,y))
mse=mean_squared_error(y, m1.predict(x))
print("RMSE = ", np.sqrt(mse))

# other methods are similar to the Lasso and LassoCV above
# double check the API to learn how to change the parameters

Evaluations on the test set:
MAE:  0.005998204699929883 , RMSE:  0.00732572227440294

Build mdoels by LassoCV()
Intercept:  40.179123888327084
Coefficients:
 [-9.84736704e-06  0.00000000e+00  1.43799644e-04  1.33298366e-03
  0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
  0.00000000e+00  0.00000000e+00 -0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00 -0.00000000e+00
  0.00000000e+00 -0.00000000e+00  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00 -0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
  0.00000000e+00]
R-square:  0.015044624179104127
RMSE =  13.537228229421915

In [72]:
# 03. Adapt Classifications to Numerical Predictions ###############################
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR

In [73]:
# KNN, https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html
m1=KNeighborsRegressor(n_neighbors=5)
m1.fit(x_train, y_train)
print("\nBuild mdoels by KNN")
# evaluate models by MAE or RMSE
y_predict=m1.predict(x_test)
MAE=metrics.mean_absolute_error(y_test, y_predict)
RMSE=np.sqrt(metrics.mean_squared_error(y_test, y_predict))
print("\nEvaluations on the test set: \nRMSE: ", RMSE)
# N-fold cross validation
m=KNeighborsRegressor(n_neighbors=5)
rst=cross_val_score(m, x, y, cv=5, scoring='neg_mean_squared_error')
mse = np.abs(rst.mean())
print("\nEvaluations: \n RMSE: ", np.sqrt(mse))

Build mdoels by KNN

Evaluations on the test set:
RMSE:  12.621583536521594

Evaluations:
 RMSE:  14.051869493031166

In [74]:
# Neural Networks, https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPRegressor.html#sklearn.neural_network.MLPRegressor
m1=MLPRegressor(random_state=1, max_iter=200)
m1.fit(x_train, y_train)
print("\nBuild mdoels by Neural Networks")
# evaluate models by MAE or RMSE
y_predict=m1.predict(x_test)
MAE=metrics.mean_absolute_error(y_test, y_predict)
RMSE=np.sqrt(metrics.mean_squared_error(y_test, y_predict))
print("\nEvaluations on the test set: \nRMSE: ", RMSE)
# N-fold cross validation
m=MLPRegressor(random_state=1, max_iter=200)
rst=cross_val_score(m, x, y, cv=5, scoring='neg_mean_squared_error')
mse = np.abs(rst.mean())
print("\nEvaluations: \n RMSE: ", np.sqrt(mse))

Build mdoels by Neural Networks

Evaluations on the test set:
RMSE:  12.902031168136153

Evaluations:
 RMSE:  81.91033116695948

In [75]:
# Regression Tree, https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html
m1=DecisionTreeRegressor(random_state=0)
m1.fit(x_train, y_train)
print("\nBuild mdoels by Regression Tree")
# evaluate models by MAE or RMSE
y_predict=m1.predict(x_test)
MAE=metrics.mean_absolute_error(y_test, y_predict)
RMSE=np.sqrt(metrics.mean_squared_error(y_test, y_predict))
print("\nEvaluations on the test set: \nRMSE: ", RMSE)
# N-fold cross validation
m=DecisionTreeRegressor(random_state=0)
rst=cross_val_score(m, x, y, cv=5, scoring='neg_mean_squared_error')
mse = np.abs(rst.mean())
print("\nEvaluations: \n RMSE: ", np.sqrt(mse))

Build mdoels by Regression Tree

Evaluations on the test set:
RMSE:  0.0

Evaluations:
 RMSE:  13.820219561422995

In [ ]:
# SVR, https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVR.html
m1=SVR(C=1.0, epsilon=0.2)
m1.fit(x_train, y_train)
print("\nBuild mdoels by SVR")
# evaluate models by MAE or RMSE
y_predict=m1.predict(x_test)
MAE=metrics.mean_absolute_error(y_test, y_predict)
RMSE=np.sqrt(metrics.mean_squared_error(y_test, y_predict))
print("\nEvaluations on the test set: \nRMSE: ", RMSE)
# N-fold cross validation
m=SVR(C=1.0, epsilon=0.2)
rst=cross_val_score(m, x, y, cv=5, scoring='neg_mean_squared_error')
mse = np.abs(rst.mean())
print("\nEvaluations: \n RMSE: ", np.sqrt(mse))

Build mdoels by SVR

Evaluations on the test set:
RMSE:  13.578078086758218